<header #home class="container-fluid">
  <div class="container d-flex justify-content-center flex-column" >
    <div class="row">
      <div class="my-5 col-12 col-lg-6 d-flex justify-content-center align-items-center ">
        <h1 class="fs-1 fw-bold text-center">Hello, az én nevem
          <div class="my-2">Ballér Krisztián</div>
          <span>
            Front-End fejlesztő
          </span>
        </h1>
      </div>
      <div class="my-5 col-12 col-lg-6 text-center">
        <img class="img-fluid w-75 rounded-circle"
        src="../../../assets/imgs/én_3.jpeg"
        alt="Krisztiánról egy kép">
      </div>
    </div>
  </div>
</header>
