.dropdown-item:active, .dropdown-item.active{
  background-color: darkgrey;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: black;
  text-shadow: 0.05rem 0.05rem 0.05rem black
}

.body {
    background: url('../../../../assets/imgs/snake3.jpg');
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;


    .title{
      user-select:none;
      &--score{
        *{
          font-size:4rem;
        }
      }
      @media (max-width: 767.98px) {
        .title{
          &--score{
            *{
              font-size:1.8rem;
            }
          }
          &--difficulty, &--mode{
            h2{
              font-size:1.4rem !important;
            }
            p{
              font-size:1rem !important;
            }
          }
        }
      }
    }


}
